---
import GuestContainer from "./GuestContainer"
---
<section>
  <h2>¿Quienes pasaron por nuestros estudios?</h2>
  <GuestContainer client:load />
</section>
<style>
  section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: #ffffff;
  }

  h2 {
    font-size: 4rem;
  }
</style>