---
import GuestContainer from "./GuestContainer"
---
<section>
  <h2>¿Quienes pasaron por los arcos de Hay Algo Ahí?</h2>
  <GuestContainer client:only />
</section>
<style>
  section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: #ffffff;
  }

  h2 {
    font-size: var(--subtitle_size);
    text-align: center;
  }

  @media screen and (max-width: 870px) {
    section {
      padding: 1.5rem;
      gap: 1rem;
    }
  }

  @media screen and (max-width: 620px) {
    h2 {
      font-size: var(--subtitle_mobile_size);
    }
  }
</style>