.episodes_container {
  font-family: 'Bebas Neue', sans-serif;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.episodes_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.episodes_top p {
  font-size: 1.8rem;
}

.episodes_fliters_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 1rem;
  max-width: 80%;
  flex-wrap: wrap;
}

.episodes_filter_button {
  font-family: 'Bebas Neue', sans-serif;
  background-color: transparent;
  border: 1px solid #565656;
  outline: none;
  transition: 0.3s ease-in-out;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
}

.episodes_filter_button:hover {
  background-color: #565656;
}

.episodes_filter_button.selected {
  background-color: #ffffff;
  color: #333333;
}

.all_episodes {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.episode_large_card_mobile_info {
  width: 100%;
  display: flex;
}

.episode_large_card {
  width: 100%;
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
  border-bottom: 1px solid #565656;
}

.episode_large_card:first-child {
  /* padding: 0 0 1rem; */
}

.episode_large_card:last-child {
  border-bottom: none;
  /* padding: 1rem 0 0; */
}

.episode_large_card img {
  width: 100px;
  aspect-ratio: 1/1;
  object-fit: cover;
  /* flex: 1; */
}

.episode_large_card_info {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.episode_large_card_title {
  font-size: 1.5rem;
}

.episode_large_card_date {
  font-size: 1.2rem;
  opacity: 0.7;
  flex: 1;
}

.episode_large_card_tags {
  font-size: 1.2rem;
  opacity: 1;
}

.episode_large_card_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.episode_large_card_link {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 0;
  width: 100px;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out
}

.episode_large_card_link_youtube {
  background-color: #ff0000;
}

.episode_large_card_link_spotify {
  background-color: #1db954;
}

.episode_large_card_link_youtube:hover {
  box-shadow: 0 0 20px #ff000080, 0 0 20px #ff000046;
}

.episode_large_card_link_spotify:hover {
  box-shadow: 0 0 20px #40c05780, 0 0 20px #40c05720;
}

.episodes_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  gap: 1rem;
  margin: 0 auto;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

.episode_card {
  display: flex;
  flex-direction: column;
  border: 0.35px solid #5656563f;
  transition: border-image 0.3s ease-in-out;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.episode_card:hover {
  border: 0.35px solid;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

.episode_card_image {
  width: 100%;
  /* border-radius: 8px; */
  aspect-ratio: 1/1;
  object-fit: cover;
}

.episode_card_info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.episode_card_title {
  font-size: 1.3rem;
  font-weight: 400;
  /* flex: 1; */
}

.episode_card_links {
  display: flex;
  width: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  background-color: #333333;
}

.episode_card_link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 0;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  flex: 1;
}

.episode_card_link_youtube {
  background-color: #ff0000;
}

.episode_card_link_spotify {
  background-color: #1db954;
}

@media screen and (max-width: 1000px) {
  .all_episodes {
    width: 100%;
  }

  .episodes_fliters_container {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .episode_large_card {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
    gap: 0;
    border-bottom: none;
  }

  img.episode_large_card_image {
    aspect-ratio: 1/1;
    width: 200px;
    height: 100%;
  }

  .episode_large_card_info {
    padding: 1rem;
    flex: auto;
  }

  .episode_large_card_mobile_info {
    flex-direction: column;
  }

  .episode_large_card_links {
    grid-column: 1/3;
    flex-direction: row;
    gap: 0;
  }

  .episode_large_card_link {
    flex: 1;
  }

  .episodes_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 1rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 570px) {
  .episodes_filter_button {
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
  }

  .episode_large_card_info {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .episode_large_card_links {
    grid-column: 2/3;
    grid-row: 1/2;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  .episode_large_card_link {
    flex: 1;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 420px) {
  .episode_large_card_link span {
    display: none;
  }

  .episodes_filter_button {
    padding: 0.5rem 0.75rem;
    font-size: 1.2rem;
  }
}