---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import EpisodeList from '../components/EpisodeList.astro';
import Sponsors from '../components/Sponsors.astro';
import Live from '../components/Live.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<About />
		<EpisodeList title='Últimos Programas' href='#' />
		<EpisodeList title='Últimos Especiales' href='#' />
		<Sponsors />
		<Live />
	</main>
</Layout>


