---
import Staff from '../components/Staff.astro';
import Production from '../components/Production.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hay Algo Ahí - Integrantes">
	<main>
		<Staff />
		<Production />
	</main>
</Layout>


