---
import Episodes from '../components/episodes/Episodes.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Hay Algo Ahí - Programas">
	<main>
		<Episodes />
	</main>
</Layout>


