---
import SectionWrapper from "../components/SectionWrapper.astro";
import TypedText from "../components/TypedText";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Hay Algo Ahí - Secciones">
  <main>
    <SectionWrapper image="/sections/edibordial.png" image_mobile="/sections/edibordial_mobile.png">
      <div class="container">
        <h3>Edibordial</h3>
        <p>
          La Edibordial es el momento de más sesudez de Hay Algo Ahí. El
          conductor <strong>Tomás Rebord</strong> arranca la semana analizando los
          cambios metafisicos que afectaron nuestra realidad.
        </p>
        <p>
          Dada la popularidad de esta sección, muchos han intentado hacer su
          propia Edibordial, como por ejemplo: <strong
            >Guillermo Moreno, Pedro Rosemblat, Luquitas Rodriguez y Dylan.</strong
          >
        </p>
        <p class="schedule"><strong>Horario:</strong> Lunes 21 HS</p>
      </div>
    </SectionWrapper>
    <SectionWrapper image="/sections/hora_africana.jpg" align="flex-end" imagePosition="top" image_mobile="/sections/hora_africana_mobile.jpg">
      <div class="container">
        <h3>La Hora Africana</h3>
        <p>
          La Hora africana es la sección favorita de las golondrinas. Una
          columna de política conducida por el mejor periodista de esta
          generación, <strong>Iván Schargrodsky</strong>.
        </p>
        <p>
          Toda la data que necesitas para fingir en tu grupo de amigos que
          entendes algo sobre la actualidad política la encontras acá.
        </p>
        <p class="schedule"><strong>Horario:</strong> Martes 22 HS</p>
      </div>
    </SectionWrapper>
    <SectionWrapper image="/sections/puchos.jpg" imagePosition="top">
      <div class="container">
        <h3>Miércoles de Puchos</h3>
        <p>
          Todos los miércoles <strong>Fio Sargenti</strong> y <strong>Jorge Pinarello</strong> se suman a la mesa de <strong>Hay Algo Ahí</strong>.
        </p>
        <p>
          En los <strong>Miércoles de Puchos</strong> no solo se habla de cine y cultura pop, sino que además Fio espanta a los normies con su sección desnormificadora.
        </p>
        <p class="schedule"><strong>Horario:</strong> Miércoles 21 HS</p>
      </div>
    </SectionWrapper>
    <SectionWrapper image="/sections/storybord.jpg" align="flex-end" imagePosition="top">
      <div class="container">
        <h3>Storybord</h3>
        <p>
          Una vez por mes <strong>Felipe Pigna</strong> y <strong>Marcela Feudale</strong> se acercan a los estudios de <strong>Hay Algo Ahí</strong> 
          para realizar una de las secciones más esperadas: el <strong>Storybord</strong>.
        </p>
        <p>
          Aquellos valientes que se animan a realizar un Storybord no solo cuentan la historia, sino que deben conectarse con la máxima verdad y la máxima ciencia, 
          procesarla y transformarla para que los demás mortales puedan entenderla.
        </p>
        <p class="schedule"><strong>Horario:</strong> Jueves 22hs (una o dos veces por mes)</p>
      </div>
    </SectionWrapper>
    <SectionWrapper image="/sections/haa.jpg" imagePosition="top">
      <div class="container">
        <h3>Viernes de competencias</h3>
        <p>
          En los viernes de Hay Algo Ahí los oyentes del programa vienen a
          demostrar que son dignos del máxmio galardon alcanzable hoy por hoy en
          la Argentinta, el <strong class="awardbord"><TypedText client:load words={["Awardbord.", "Warwor.", "Awawe.", "Bwargh."]} /></strong>
        </p>
        <p>
          Hay tres clases de programas de competencias: <strong>¿Hay algo ahí?</strong> donde los
          participantes muestran sus talentos. <strong>Chef Maestro</strong>, un certamen de cocina
          totalmente original. <strong>Especial Japonés</strong>, donde los participantes
          deberan superar distintas pruebas fisicas. Y por último, <strong>Los Siete Peldaños</strong>, un concurso de preguntas y respuestas nunca visto.
        </p>
        <p class="schedule"><strong>Horario:</strong> Viernes 22 HS</p>
      </div>
    </SectionWrapper>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100%;
    padding: 3rem;
    width: 50%;
  }

  h3 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
  }

  p {
    font-size: 1.5rem;
    font-family: "Roboto Flex", sans-serif;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1rem;
    color: #ffffffef;
  }

  strong {
    font-weight: 700;
    color: #ffffff;
    opacity: 1;
  }

  .schedule {
    margin-top: 2rem;
  }

  @media screen and (max-width: 900px) {
    .container {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      padding: 1.5rem;
    }

    h3 {
      font-size: 2.5rem;
    }
  }
</style>
