<section>
  <div class="about_container">
    <h2>¡Bienvenido a Hay Algo Ahí!</h2>
    <p class="about_text">
      Una mezcla de sesudez y ranciedad emerge de <strong>Blender</strong> y se transforma
      en el mejor programa de streaming de la actualidad. Con <strong
        >Tomás Rebord</strong
      > y <strong>Juan Ruffo</strong> como conductores, Hay Algo Ahí se convirtio
      en el programa con más rango de la grilla, admitiendo entre sus filas rancios,
      reales, golondrinas, normies, edges y niños de 9 años.
    </p>
    <p class="warning">Advertencia: si sintoniza este programa espere lo inesperado.</p>
  </div>
  <div class="about_image">
    <img src="/about.png" alt="">
  </div>
</section>
<style>
  section {
    display: grid;
    grid-template-columns: 1fr minmax(100px, 400px);
    background-color: var(--secondary_bg);
    color: var(--primary_text);
    padding: 0 3rem;
    gap: 3rem;
  }

  .about_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    padding: 3rem 0;
  }

  h2 {
    font-size: var(--subtitle_size);
  }

  .about_text {
    font-size: var(--paragraph_size);
    line-height: 2rem;
    font-family: var(--secondary_font);
    font-weight: 200;
  }

  .warning {
    opacity: 0.5;
    font-family: var(--secondary_font);
    font-weight: 200;
    font-style: italic;
    margin-top: 2.5rem;
  }

  .about_image {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 3rem 0;
  }

  img {
    height: 115%;
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }

  @media screen and (max-width: 1160px) {
    .about_image {
      display: none;
    }

    section {
      display: flex;
      text-align: center;
    }
  }

  @media screen and (max-width: 620px) {
    .about_container {
      padding: 2rem 0;
    }

    .warning {
      margin-top: 1rem;
    }
    
    h2 {
      font-size: var(--subtitle_mobile_size);
    }
  
    .about_text {
      font-size: var(--paragraph_mobile_size);
    }
  }

</style>
