<section>
  <div class="about_container">
    <h2>¡Bienvenido a Hay Algo Ahí!</h2>
    <p class="about_text">
      Una mezcla de sesudez y ranciedad emerge de <strong>Blender</strong> y se transforma
      en el mejor programa de streaming de la actualidad. Con <strong
        >Tomás Rebord</strong
      > y <strong>Juan Ruffo</strong> como conductores, Hay Algo Ahí se convirtio
      en el programa con más rango de la grilla, admitiendo entre sus filas rancios,
      reales, golondrinas, normies, edges y niños de 9 años.
    </p>
    <p class="warning">Advertencia: si sintoniza este programa espere lo inesperado.</p>
  </div>
  <img src="/about.png" alt="">
</section>
<style>
  section {
    display: flex;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 3rem;
    position: relative;
    justify-content: space-between;
  }

  .about_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 60%;
  }

  h2 {
    font-size: 3rem;
  }

  .about_text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: "Roboto Flex Variable", sans-serif;
    font-weight: 200;
  }

  .warning {
    opacity: 0.5;
    font-family: "Roboto Flex Variable", sans-serif;
    font-weight: 200;
    font-style: italic;
    margin-top: 2.5rem;
  }

  img {
    width: 470px;
    position: absolute;
    right: 0;
    bottom: 0;
  }


</style>
