---
import InstagramIcon from "../icons/InstagramIcon.astro";
import SpotifyIcon from "../icons/SpotifyIcon";
import TwitterIcon from "../icons/TwitterIcon.astro";
import YoutubeIcon from "../icons/YoutubeIcon";
---

<script>
  const footer = document.querySelector("footer");
  if (footer && window.location.pathname === "/secciones") {
    footer.style.borderTop = "none";
  }
</script>
<footer>
  <a href="https://www.instagram.com/estoesblender/" class="blender">
    <img src="blender.png" alt="" />
  </a>
  <p>Copyright © 2024 Hay Algo Ahí | Powered by Hay Algo Ahí</p>
  <div>
    <a href="#"><YoutubeIcon size={36} color="#fff" /></a>
    <a href="#"><InstagramIcon size={36} color="#fff" /></a>
    <a href="#"><TwitterIcon size={36} color="#fff" /></a>
    <a href="#"><SpotifyIcon size={36} color="#fff" /></a>
  </div>
</footer>
<style>
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
    width: 85%;
    margin: 0 auto;
    color: var(--primary_text);
    border-top: 1px solid var(--border_color);
  }

  .blender {
    flex: 1;
  }

  img {
    width: 150px;
  }

  p {
    text-align: center;
    flex: 2;
    width: 100%;
  }

  div {
    flex: 1;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  div a {
    transition: all 0.3s ease-in-out;
  }

  div a:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }

  @media screen and (max-width: 1000px) {
    footer {
      flex-direction: column;
      padding: 1.5rem 0;
      gap: 1.5rem;
    }
  }
</style>
