---
import { getYoutubeLiveInfo } from "../services/youtube";
import { ROUTES } from "../constants/routes";
import Menu from "./Menu.astro";
const channelId = "UC6pJGaMdx5Ter_8zYbLoRgA";

const data = await getYoutubeLiveInfo(channelId);
---

<header>
  <Menu />
  <div class="header_container">
    <div class="logo_container">
      <a href="/" class="logo"><img src="logo.png" alt="Hay Algo Ahí Logo" /></a
      >
    </div>
    <nav>
      <ul>
        {
          ROUTES.map((route) => (
            <li>
              <a href={route.path}>{route.label}</a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div class="live_container">
      {
        data.isLive ? (
          <div class="live">
            <a href={data.link} target="_blank" class="live_anchor">
              <div class="live_circle" /> En Vivo
            </a>
          </div>
        ) : (
          <div class="offline">
            <div class="offline_circle" /> Off<span>line</span>
          </div>
        )
      }
    </div>
  </div>
</header>
<style>
  header {
    color: #ffffff;
    background-color: #000000;
    padding: 0 3rem;
    width: 100%;
  }
  
  .header_container {
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
    width: 100%;
    height: 80px;
    z-index: 100;
  }

  .logo_container {
    width: 100%;
  }

  img {
    width: 100px;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: var(--paragraph_size);
    flex: 1;
  }

  ul a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  ul a:hover {
    opacity: 0.7;
  }

  .live_container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: true;
  }

  .live,
  .offline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* gap: 0.5rem; */
    border: 0.35px solid var(--border_color);
    overflow: hidden;
    position: relative;
  }

  .live {
    cursor: pointer;
    border-image: conic-gradient(
        from var(--angle),
        #ff000001,
        #ff0000 0.1turn,
        #ff0000 0.15turn,
        #ff000001 0.25turn
      )
      15;
    animation: borderRotate 2000ms linear infinite forwards;
  }

  .offline {
    padding: 0.5rem 1rem;
  }

  .live_anchor {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    color: var(--primary_text);
    font-size: var(--paragraph_mobile_size);
    padding: 0.5rem 1rem;
    border: 0.35px solid #ff000049;
  }

  @keyframes borderRotate {
    100% {
      --angle: 420deg;
    }
  }

  .live_circle,
  .offline_circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff0000;
    margin-right: 0.5rem;
  }

  .offline_circle {
    background-color: var(--border_color);
  }

  @media screen and (max-width: 960px) {
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      padding: 0;
    }
    
    .header_container {
      padding: 0 0 0 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      flex: 1;
    }

    nav {
      display: none;
    }

    .live_container {
      width: 100px;
      justify-content: flex-start;
    }

    .logo_container {
      text-align: center;
      flex: 1;
      width: 100%;
    }
  }

  @media screen and (max-width: 580px) {
    .offline span {
      display: none;
    }

    img {
      width: 100px;
    }
  }
</style>
