---
import { getYoutubeLiveInfo } from "../services/youtube";
import { ROUTES } from "../constants/routes";
import Menu from "./Menu.astro";
const channelId = "UC6pJGaMdx5Ter_8zYbLoRgA";

const data = await getYoutubeLiveInfo(channelId);
---

<header>
  <Menu />
  <div class="header_container">
    <a href="/" class="logo"><img src="logo.png" alt="Hay Algo Ahí Logo" /></a>
    <nav>
      <ul>
        {
          ROUTES.map((route) => (
          <li><a href={route.path}>{route.label}</a></li>
          ))
        }
      </ul>
    </nav>
    <div class="live_container">
      {
        data.isLive ? (
          <div class="live">
            <a href={data.link} target="_blank" class="live_anchor">
              <div class="live_circle" /> En Vivo
            </a>
          </div>
        ) : (
          <div class="offline">
            <div class="offline_circle" /> Offline
          </div>
        )
      }
    </div>
  </div>
</header>
<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
    width: 100%;
  }
  
  .header_container {
    height: 80px;
    padding: 0 3rem;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
  }

  img {
    width: 120px;
  }

  nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.5rem;
    flex: 1;
  }

  ul a {
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
  }

  ul a:hover {
    opacity: 0.7;
  }

  .live_container {
    width: 150px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 90deg;
    inherits: true;
  }

  .live, .offline {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    border: 0.35px solid #565656;
    width: fit-content;
    overflow: hidden;
    position: relative;
  }
  
  .live {
    cursor: pointer;
    border-image: conic-gradient(
      from var(--angle),
        #ff000001,
        #ff0000 0.1turn,
        #ff0000 0.15turn,
        #ff000001 0.25turn
      )
      15;
    animation: borderRotate 2000ms linear infinite forwards;
  }
  
  .offline {
    padding: 0.5rem 1rem;
  }

  .live_anchor {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 0.35px solid #ff000049;
  }

  @keyframes borderRotate {
    100% {
      --angle: 420deg;
    }
  }

  .live_circle, .offline_circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff0000;
  }

  .offline_circle {
    background-color: #565656;
  }

  @media screen and (max-width: 960px) {
    header {
      flex-direction: row-reverse;
      /* padding: 1rem; */
    }

    .header_container {
      flex-direction: row-reverse;
    }

    nav {
      display: none;
    }

    .live_container {
      justify-content: flex-start;
    }

    .logo {
      flex: 1;
      text-align: center;
      padding-right: 1.2rem;
    }
  }

  @media screen and (max-width: 580px) {
    .header_container {
      padding: 1rem 0 1rem 1rem;
    }

    .live_container {
      width: auto;
    }

    .logo {
      padding: 0;
    }

    img {
      width: 100px;
    }
  }
</style>
