---
import GreenIcon from "../icons/GreenIcon.astro";
import SpotifyIcon from "../icons/SpotifyIcon";
import TwitchIcon from "../icons/TwitchIcon.astro";
import YoutubeIcon from "../icons/YoutubeIcon";
---

<section>
  <div class="title">
    <h3>Encontras todos nuestros programas Acá</h3>
    <p> En Vivo Lunes a Viernes de 21 a 23 hs</p>
  </div>
  <div class="buttons">
    <a href="https://www.youtube.com/@estoesblender" class="youtube">
      <YoutubeIcon size={38} color="#ff0000" />
      <span>YouTube</span>
    </a>
    <a href="https://open.spotify.com/show/5bK1qKWB6qGR8W4us4jpwO?si=43597ca2c51c4e76" class="green">
      <SpotifyIcon size={38} color="#40c057" />
      <span>Spotify</span>
    </a>
  </div>
</section>
<style>
  section {
    padding: 1rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
    color: var(--primary_text);
  }

  h3 {
    font-size: var(--subtitle_size);
    text-align: center;
  }

  .title p {
    opacity: 0.7;
    font-style: italic;
    text-align: center;
    font-size: var(--paragraph_size);
  }

  .buttons {
    display: flex;
    gap: 3rem;
  }

  a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: var(--primary_text);
    font-size: var(--paragraph_size);
    cursor: pointer;
    border: 1px solid var(--border_color);
    padding: 0.5rem 1rem;
    font-family: var(--primary_font);
    text-decoration: none;
    position: relative;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 150px;
  }

  a:hover {
    /* border: 1px solid; */
    box-shadow:
      inset 0 0 20px rgba(255, 0, 0, 0.5),
      0 0 20px rgba(255, 0, 0, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }

  a.twitch:hover {
    box-shadow:
      inset 0 0 20px #5a3e8580,
      0 0 20px #5a3e8520;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }

  a.green:hover {
    box-shadow:
      inset 0 0 20px #40c05780,
      0 0 20px #40c05720;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }

  @media screen and (max-width: 620px) {
    section {
      padding: 1rem 2rem 3rem;
      gap: 2rem;
    }

    h3 {
      font-size: var(--subtitle_mobile_size);
    }

    .title p {
      font-size: var(--paragraph_mobile_size);
    }

    .buttons {
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }

  }
</style>
