---
import { ROUTES } from "../constants/routes";
import CrossIcon from "../icons/CrossIcon";
import MenuIcon from "../icons/MenuIcon.astro";
---

<script>
  const menuIcon = document.querySelector(".menu_icon");
  const crossIcon = document.querySelector(".cross_icon");
  const menu = document.querySelector(".menu");

  const closeMenu = () => {
    console.log("close fn");
    menu?.classList.remove("active");
    crossIcon?.classList.add("hidden");
    menuIcon?.classList.remove("hidden");
    document.body.style.overflow = "auto";
    
  }
  
  const openMenu = () => {
    menu?.classList.add("active");
    crossIcon?.classList.remove("hidden");
    menuIcon?.classList.add("hidden");
    document.body.style.overflow = "hidden";
  }
  
  document.body.addEventListener("click", () => {    
    closeMenu()
  });

  menuIcon?.addEventListener("click", (e) => {
    e.stopPropagation()
    openMenu();
  });
  
  crossIcon?.addEventListener("click", (e) => {
    e.stopPropagation()
    closeMenu()
  });

  menu?.addEventListener("click", (e) => e.stopPropagation());
</script>
<nav class="menu_container">
  <div class="menu_toggle_container">
    <div class="menu_toggle menu_icon">
      <MenuIcon size={36} className="icon" />
    </div>
    <div class="menu_toggle cross_icon hidden">
      <CrossIcon size={36} className="icon" />
    </div>
  </div>
  <ul class="menu">
    {
      ROUTES.map((route) => (
        <li>
          <a href={route.path}>{route.label}</a>
        </li>
      ))
    }
  </ul>
</nav>
<style>
  .hidden {
    display: none !important;
  }

  .menu_container {
    display: none;
    /* position: relative; */
    width: 100px;
  }

  .menu_toggle_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 200;
    background-color: #000000;
    width: 100px;
  }
  
  .menu_toggle {
    background-color: #000000;
    margin: 0 1rem 0 0;
    width: min-content;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* height: 80px; */
    z-index: 100;
    position: relative;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: #ffffff;
  }

  ul {
    list-style: none;
    position: absolute;
    top: -30%;
    left: 0;
    width: 100%;
    background-color: #d10000;
    z-index: 1;
    transition: all 0.7s ease-in-out;
  }

  ul.active {
    top: 80px;
  }

  li {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #333333;
    transition: all 0.3s ease-in-out;
    display: flex;
  }

  li a {
    width: 100%;
    padding: 1rem;
  }

  li:last-child {
    border-bottom: none;
  }

  li:hover {
    background-color: #333333ab;
  }

  @keyframes slide-down {
    0% {
      top: -50%;
    }

    100% {
      top: 80px;
    }
  }

  @media screen and (max-width: 960px) {
    .menu_container {
      display: flex;
    }
  }
</style>
