---
import StaffShortCard from "./StaffShortCard.astro";
---

<section>
  <h3>La producción</h3>
  <div>
    <StaffShortCard  name="Juan Ruffo" role="Director" image="/staff/joa.png"/>
    <StaffShortCard  name="Juan Ruffo" role="Director" image="/staff/joa.png"/>
    <StaffShortCard  name="Juan Ruffo" role="Director" image="/staff/joa.png"/>
    <StaffShortCard  name="Juan Ruffo" role="Director" image="/staff/joa.png"/>
    <StaffShortCard  name="Juan Ruffo" role="Director" image="/staff/joa.png"/>
    <StaffShortCard  name="Juan Ruffo" role="Director" image="/staff/joa.png"/>
    <StaffShortCard  name="Juan Ruffo" role="Director" image="/staff/joa.png"/>
  </div>
</section>
<style>
  section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: #ffffff;
  }

  h3 {
    font-size: 3rem;
  }

  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    width: 100%;
  }

</style>