---
interface Props {
  image: string
  align?: 'flex-start' | 'flex-end' | 'center'
  imagePosition?: 'top' | 'bottom' | 'center'
  image_mobile?: string
}

const { image, align, imagePosition, image_mobile } = Astro.props
---
<section style={`align-items: ${align || 'flex-start'}`}>
  <img src={image_mobile} alt="" style={`object-position: ${imagePosition || 'center'}`} class={image_mobile ? 'mobile' : ''}>
  <img src={image} alt="" style={`object-position: ${imagePosition || 'center'}`} class={image_mobile ? 'desktop' : ''}>
  <slot />
</section>
<style>
  section {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    position: relative;
  }

  img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
  }

  .mobile {
    display: none;
  }

  @media screen and (max-width: 800px) {
    img {
      object-position: center center;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }
</style>