<section>
  <h3>Recomendaciones Personales</h3>
  <div>
    <ul>
      <li>
        <a href="#">
          <img src="/sponsors/enlaca.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/medical_hair.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/yelmo.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/medife.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/bieckert.png" alt="" />
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">
          <img src="/sponsors/enlaca.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/medical_hair.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/yelmo.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/medife.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/bieckert.png" alt="" />
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#">
          <img src="/sponsors/enlaca.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/medical_hair.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/yelmo.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/medife.png" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="/sponsors/bieckert.png" alt="" />
        </a>
      </li>
    </ul>
  </div>
</section>
<style>
  section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  h3 {
    font-size: 2.8rem;
    color: #ffffff;
    text-align: center;
  }

  div {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    gap: 3rem;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    animation: slide 8s infinite linear;
    align-items: center;
    padding: 2rem 0;
  }

  img {
    width: 200px;
  }

  div:hover ul {
    animation-play-state: paused;
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 3rem));
    }
  }

  @media screen and (max-width: 620px) {
    section {
      padding: 2rem;
      gap: 1rem;
    }

    img {
      width: 120px;
    }
  }
</style>
