---
interface Props {
  name: string;
  role: string;
  image: string;
}

const { name, role, image } = Astro.props;
---
<div class="card">
  <div class={`image_container ${image.includes("incognito") ? "incognito": ""}`}>
    <img src={image} alt="">
  </div>
  <div class="info">
    <p>{name}</p>
    <span>{role}</span>
  </div>
</div>
<style>
  .card {
    display: flex;
    flex-direction: column;
    border: 1px solid #565656;
    min-height: 220px;
    text-align: center;
  }

  img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    border-bottom: 1px solid #565656;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  p {
    font-size: 1.5rem;
  }

  span {
    font-size: 1.2rem;
    opacity: 0.7;
  }

  @media screen and (max-width: 800px) {
    .card {
      /* max-height: 250px; */
      width: 220px;
    }

    img {
      /* max-height: 60%; */
      object-fit: cover;
      object-position: top;
    }
  }
</style>