---
import StaffLongCard from "./StaffLongCard.astro";
---

<section>
  <h2>Conoce a nuestro equipo</h2>
  <div class="cards_container">
    <StaffLongCard
      name="Tomás Rebord"
      role="Conductor"
      description="TOMÁS REBORD nació en el barrio de Almagro en 1993. Se recibió de abogado en la Universidad de Buenos Aires. Creó y protagonizó los exitosos ciclos videorradiales Caricias significativas, MAGA y El método Rebord. Actualmente, conduce el ciclo Hay algo ahí, por Blender."
      image="/staff/rebord.png"
      instagram="https://www.instagram.com/tomasrebord/"
      twitter="https://twitter.com/tomasrebord"
    />
    <StaffLongCard
      name="Juan Ruffo"
      role="Coconductor"
      description="TOMÁS REBORD nació en el barrio de Almagro en 1993. Se recibió de abogado en la Universidad de Buenos Aires. Creó y protagonizó los exitosos ciclos videorradiales Caricias significativas, MAGA y El método Rebord. Actualmente, conduce el ciclo Hay algo ahí, por Blender."
      image="/staff/ruffo.png"
      instagram="https://www.instagram.com/jeruffo/"
      twitter="https://twitter.com/jeruffo"
      reverse
    />
    <StaffLongCard
      name="Tomás Rebord"
      role="Conductor"
      description="TOMÁS REBORD nació en el barrio de Almagro en 1993. Se recibió de abogado en la Universidad de Buenos Aires. Creó y protagonizó los exitosos ciclos videorradiales Caricias significativas, MAGA y El método Rebord. Actualmente, conduce el ciclo Hay algo ahí, por Blender."
      image="/staff/rebord.png"
      instagram="https://www.instagram.com/tomasrebord/"
      twitter="https://twitter.com/tomasrebord"
    />
    <StaffLongCard
      name="Juan Ruffo"
      role="Coconductor"
      description="TOMÁS REBORD nació en el barrio de Almagro en 1993. Se recibió de abogado en la Universidad de Buenos Aires. Creó y protagonizó los exitosos ciclos videorradiales Caricias significativas, MAGA y El método Rebord. Actualmente, conduce el ciclo Hay algo ahí, por Blender."
      image="/staff/ruffo.png"
      instagram="https://www.instagram.com/jeruffo/"
      twitter="https://twitter.com/jeruffo"
      reverse
    />
    <StaffLongCard
      name="Tomás Rebord"
      role="Conductor"
      description="TOMÁS REBORD nació en el barrio de Almagro en 1993. Se recibió de abogado en la Universidad de Buenos Aires. Creó y protagonizó los exitosos ciclos videorradiales Caricias significativas, MAGA y El método Rebord. Actualmente, conduce el ciclo Hay algo ahí, por Blender."
      image="/staff/rebord.png"
      instagram="https://www.instagram.com/tomasrebord/"
      twitter="https://twitter.com/tomasrebord"
    />
    <StaffLongCard
      name="Juan Ruffo"
      role="Coconductor"
      description="TOMÁS REBORD nació en el barrio de Almagro en 1993. Se recibió de abogado en la Universidad de Buenos Aires. Creó y protagonizó los exitosos ciclos videorradiales Caricias significativas, MAGA y El método Rebord. Actualmente, conduce el ciclo Hay algo ahí, por Blender."
      image="/staff/ruffo.png"
      instagram="https://www.instagram.com/jeruffo/"
      twitter="https://twitter.com/jeruffo"
      reverse
    />
  </div>
</section>
<style>
  section {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    color: #ffffff;
  }

  h2 {
    font-size: 4rem;
  }

  .cards_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
</style>