---
import "@fontsource/bebas-neue";
import "@fontsource-variable/roboto-flex";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot id="content" />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);

    --subtitle_size: 3.5rem;
    --subtitle_mobile_size: 2.5rem;
    --short_title_size: 1.8rem;
    --paragraph_size: 1.5rem;
    --paragraph_mobile_size: 1.2rem;

    --primary_text: #ffffff;
    --primary_bg: #0f0f0f;
    --secondary_bg: #1e1e1e;

    --border_radius: 8px;
    --border_color: #565656;

    --primary_font: "Bebas Neue", sans-serif;
    --secondary_font: "Roboto Flex Variable", sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: var(--primary_font);
    background: var(--primary_bg);
  }

  main::after {
    content: "";
    display: block;
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid var(--border_color);
  }
</style>
